streamlit
langgraph
langchain
langchain-core
langchain-google-genai
langchain-community
duckduckgo-search
python-dotenv
requests
bcrypt
pydantic
wikipedia
newsapi-python
pyowm
googlesearch-python
ddgs
langgraph-checkpoint-sqlite

